<!-- Mongo Database -->
DB_URL=Mongo_Database_URL

<!-- Firebase -->
APIKEY=Firebase_APIKEY
AUTHDOMAIN=Firebase_AUTHDOMAIN
DATABASEURL=Firebase_DATABASEURL
PROJECTID=Firebase_PROJECTID
STORAGEBUCKET=Firebase_STORAGEBUCKET
MESSAGINGSENDERID=Firebase_MESSAGINGSENDERID
APPID=Firebase_APPID

<!-- Analytics -->
NEXT_PUBLIC_GOOGLE_ANALYTICS="GOOGLE_ANALYTICS_STRING"